// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
  text-align: center;
}

.aphabet-background {
  color: black;
  box-shadow: 0 0 8px gray;
}

.letters {
  padding-left: 0;
  font-size: 24px;
  list-style: none;
  li {
    background-color: transparent;
    padding: 4px 12px;
    display: inline;
  }
}
